env/
.ipynb_checkpoints
__pycache__
htmlcov
.coverage
docs/_build
\.vscode/
demdata-api-docker-images
report\.html
report/
temp.py
temp.zip

#test data folders
MoverGLWValidationDataset
users
data/
data.1/
data_all/