<!DOCTYPE html>
<html>

<head>
    <title>Stuns Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <style>

        h4.uk-card-title {
			color: black !important;
			
		}

		.uk-card-primary {
            background-color: rgb(210, 210, 210);
        }

        .uk-card-secondary {
            background-color: rgb(90, 90, 90);
        }

        div.uk-card-secondary, div.uk-card-primary {
            margin: 1em 0 0 0;
        }

		.metric-list {
			color: white !important;
    </style>
</head>

<body class="uk-margin-medium">
    <div class="uk-container">
        <h1>STUNS Report from {{date}}</h1>
        {% from 'user.html' import display_user %}
        <div class="uk-card uk-card-default uk-card-body">
            <h3><strong>Global Migration Metrics</strong></h3>
            <ul class="uk-list">
                {% for k,v in execution_metrics.items() %}
                    {% if k == 'migration_time' %}
                        <li><b>{{k}}:</b> {{'%.3f'|format(v)}}</li>
                    {% else %}
                        <li><b>{{k}}:</b> {{v}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        <ul uk-accordion class="uk-list-striped uk-margin-bottom">
            {% for user, result in users.items() %}
            <li>
                <a class="uk-accordion-title" href="#">User: {{user}}</a>
                <p> 
                    {% for k,v in result[0].items() %}
                        {% if k != 'name' %}
                            {{k|title}}: {{v}}
                        {% endif %}
                    {% endfor %}
                </p>
                <div class="uk-accordion-content">{{ display_user(user, result[1][::2], result[1][1::2]) }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="uk-container uk-text-center uk-margin-bottom">
        Made with ❤️ at FEUP <!-- Fake btw -->
    </div>
</body>

</html>