<!DOCTYPE html>
<html>

<head>
    <title>Stuns Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <style>
        .uk-list.uk-list-bullet li {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="uk-container">
        <h1>Stuns Report from {{date}}</h1>
        {% from 'user.html' import display_user %}
        <ul uk-accordion class="uk-list-striped">
            {% for user, files in users.items() %}
            <li>
                <a class="uk-accordion-title" href="#">User: {{user}}</a>
                <div class="uk-accordion-content">{{ display_user(user, files) }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>