{% macro display_user(name, devices, sensors) %}
	{% for device, sensor_arr in zip(devices, sensors) %}
		<h4>{{ device.model }}</h4>
		<ul class="uk-list uk-list-divider">
		{% if sensor_arr|length > 0 %}
			{% for sensor in sensor_arr %}
				<li>
					<h5>{{ sensor.sensorType }}</h5>
					<div class="uk-card uk-card-default uk-card-body">
						<ul class="uk-list uk-list-bullet">
							{% for m,v in sensor.metrics.items() %}
								<li>{{m}}: {{v}}</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			{% endfor %}
		{% endif %}
		</ul>
	{% endfor %}
{% endmacro %}