{% macro display_user(name, devices, sensors) %}
	{% for device, sensor_arr in zip(devices, sensors) %}
	<div class="uk-card uk-card-primary uk-card-body">
		<h4 class="uk-card-title">Device: {{ device.model }}</h4>
		<ul class="uk-list uk-list-divider">
		{% if sensor_arr|length > 0 %}
			{% for sensor in sensor_arr %}
				<li>
					<div class="uk-card uk-card-secondary uk-card-body">
						<h5 class="uk-card-title">Sensor: {{ sensor.sensorType|title }}</h5>
						<h6>Relevant statistics:</h6>
						<ul class="uk-list">
							{% for m,v in sensor.metrics.items() %}
								<li><b>{{m}}:</b> {{v}}</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			{% endfor %}
		{% else %}
			<h5>No sensors found for this device.</h5>
		{% endif %}
		</ul>
		<br>
	</div>
	{% endfor %}
{% endmacro %}